<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <div class="ion-text-center">
        <h1>World</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="primary" expand="block" (click)="goToPlaces()">Places</ion-button>
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
